[Unit]
Description=aeromed_tau_autopilot

[Service]
ExecStart=mamba activate py3.10 ; python /home/jetson/amt/Main.py

[Install]
WantedBy=default.target