[Unit]
Description=aeromed_tau_autopilot

[Service]
Type=exec
User=jetson
Group=jetson
Restart=always
ExecStartPre=/bin/mkdir -p /var/run/aeromed_tau_autopilot
PIDFile=/var/run/aeromed_tau_autopilot/service.pid
ExecStart=/home/jetson/miniforge3/envs/py3.10/bin/python /home/jetson/amt/Main.py

[Install]
WantedBy=multi-user.target