[Unit]
Description=aeromed_tau_autopilot

[Service]
ExecStart=/home/jetson/miniforge3/condabin/mamba init && /home/jetson/miniforge3/condabin/mamba activate py3.10 && /home/jetson/miniforge3/envs/py3.10/bin/python /home/jetson/amt/Main.py

[Install]
WantedBy=default.target